<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Temporary Image Uploader</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/css.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <span class="glyphicon glyphicon-cloud-upload"></span>
          <h2>Temporary Images Uploader</h2>
          <h4>Delete at the end of the day</h4>
          <button class="btn btn-lg upload-btn" type="button">Upload File</button>
          <h4 class="filenum hidden"></h4>
          <div class="uploadedFiles hidden">
            <ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/upload.js"></script>
</html>
